body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* Header */
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-studio {
    color: #2e2f42;
}

.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-list:hover {
    color: #404bbf;
}

.header-list:focus {
    color: #404bbf;
}

/* Adress */
.address {
    font-style: normal;
}

.contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf ;
}

.address-list:active {
    color: #404bbf;
}

/* First sectio */

.section-first {
    background-color: #2e2f42;
}

.title-section-first {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-first-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
}