body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* Header */
.header-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio {
    color:#2E2F42;
}

.header-list {
    color: var(--NAVY-BLUE, #2E2F42);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.header-list:hover {
    color: #404bbf;
}

.header-list:focus {
    color: #404bbf;
}

/* Adress */
.address {
    font-style: normal;
}

.contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf ;
}

.address-list:active {
    color: #404bbf;
}

/* First section */

.section-first {
    background-color: #2e2f42;
}

.title-section-first {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-first-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff
    
}

.section-first-button:hover {
    background-color: #404BBF
}

.section-first-button:focus {
    background-color: #404BBF
}

/* Section Second */

.section-second-list {
    
}

.section-second-title {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-second-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}